@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap");

/* Asterisk wildcard selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Body styles*/
body {
  font-family: "Just Me Again Down Here", cursive;
  background-color: #c4c4c4;
  width: 100%;
  height: 100%;
}

#main-header a {
  text-decoration: none;
  position: fixed;
  font-family: "Source Serif 4", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fec833;
  border-bottom: 0.2rem solid black;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}

#main-header span {
  font-size: 1.5rem;
  text-shadow: #0000 0px 0px 10px;
  border: #000000 0.3rem solid;
  box-shadow: #3d3b3b 0px 0px 10px 5px;
  animation: boxFlicker 3s infinite alternate;
}

#header-icon {
  width: 30px;
  height: auto;
  margin-right: 0.5rem;
}

.anime-bg {
  position: fixed;
  width: 280px;
  height: 480px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  animation: floatEffect 4s infinite ease-in-out;
}

#goku-bg {
  background-image: url("../images/goku.svg");
  left: -10%;
  top: 5%;
}

#naruto-bg {
  background-image: url("../images/naruto.svg");
  right: -10%;
  top: 5%;
}

#saitama-bg {
  background-image: url("../images/saitama.svg");
  left: -10%;
  bottom: 0;
  top: 50%;
}

#luffy-bg {
  background-image: url("../images/luffy.svg");
  right: -10%;
  bottom: 0;
  top: 50%;
}

/* Intro Section */
#intro-section {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: #000000 0px 0px 10px 0px;
  color: #fff;
  text-align: center;
  top: 8rem;
  padding: 1rem;
  border-radius: 2px;
  width: auto;
  box-sizing: border-box;
  animation: fadeInZoom 2s ease 0s 1 normal forwards,
    particleEffect 1s ease 2s 1 normal forwards,
    textGlow 3s ease 3s 1 normal forwards,
    quickShake 0.5s ease 6s 1 normal forwards,
    finalFlash 1s ease 7s 1 normal forwards;
}

#intro-section p {
  font-size: 1.5rem;
}

/* Action Section */
#action-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(135, 79, 54, 0.81),
    rgba(179, 173, 166, 0.81),
    rgba(176, 138, 77, 0.56)
  );
  box-shadow: #000000 0px 0px 10px 0px;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  margin-top: 10rem;
  padding: 8rem;
}

#initiate-quiz,
#game-rules {
  font-family: "pangolin", sans-serif;
  font-size: 1.2rem !important;
  transition: all 0.3s ease;
  background-image: linear-gradient(
    to bottom,
    rgba(254, 51, 51, 0.514),
    rgba(255, 255, 255, 0.897)
  );
  box-shadow: #000000 0px 0px 10px 0px;
  text-shadow: 2px 2px 4px #ffbb00;
  color: rgb(19, 18, 18);
  border: 0.3rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: calc(1rem + 1vw);
  white-space: nowrap;
  overflow: hidden;
  align-content: center;
  text-overflow: ellipsis;
}

#initiate-quiz:active,
#game-rules:active {
  transform: translateY(4px);
}

#button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-wrapper button {
  position: relative;
  z-index: 1;
}

#button-wrapper button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbb00;
  opacity: 1;
  z-index: -1;
}

#button-wrapper button:hover:before {
  opacity: 0.5;
}

/* instructions */
#instruction-popup {
  display: none; /* Initially hidden */
  position: absolute;
  top: 10rem;
  left: 0;
  font-family: "pangolin", sans-serif;
  font-size: 1.2rem !important;
  flex-direction: column;
  background-color: #fec833fa;
  box-shadow: #000000 0px 0px 10px 0px;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  padding: 2rem;
  z-index: 1;
  max-height: 60vh;
  overflow-y: auto;
}

#instruction-popup:after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -99;
}

#instruction-popup p {
  z-index: 2;
}

#instruction-popup ul {
  list-style-type: none;
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
}

#close-popup {
  position: fixed;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 3rem;
  position: absolute;
  top: -1rem;
  right: 1rem;
}

#close-popup:hover {
  transform: translateY(4px);
}

#instruction-popup.show-popup {
  animation: popOut 0.5s ease-out;
}

#popup-title {
  position: relative;
  font-size: calc(1rem + 1vw);
  white-space: nowrap;
  align-content: center;
  top: -7rem;
  text-shadow: #ffbb00 0px 0px 10px;
  z-index: 2;
}

/* Add scrollbar styling for Webkit browsers like Chrome, Safari */
#instruction-popup::-webkit-scrollbar {
  width: 10px;
}

#instruction-popup::-webkit-scrollbar-thumb {
  background: #b4912ffa;
  border-radius: 10px;
}

#instruction-popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#footer-section {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: #000000 0px 0px 10px 0px;
  font-size: 1.3rem;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  padding: 1rem;
}

/* Anime-Inspired Animation Sequence */

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes particleEffect {
  0% {
    box-shadow: 0 0 5px #fff;
  }
  100% {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff;
  }
}

@keyframes textGlow {
  0%,
  100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de;
  }
}

@keyframes quickShake {
  0%,
  100% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(5px);
  }
}

@keyframes finalFlash {
  0%,
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
  50% {
    background: #977428;
  }
}

@keyframes boxFlicker {
  0% {
    box-shadow: #ff0000 0px 0px 10px 5px;
  }
  20% {
    box-shadow: none;
  }
  30% {
    box-shadow: #be6464 0px 0px 10px 5px;
  }
  35% {
    box-shadow: none;
  }
  50% {
    box-shadow: #7c3823 0px 0px 10px 5px;
  }
  55% {
    box-shadow: none;
  }
  70% {
    box-shadow: #a33b3b 0px 0px 10px 5px;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes popOut {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media query for center alignment in instruction-popup on desktop */
@media screen and (min-width: 1024px) {
  #instruction-popup,
  #instruction-popup h2,
  #instruction-popup h3,
  #instruction-popup ol,
  #instruction-popup p {
    text-align: center !important;
  }
}
